<div class="post">
    <div class="post-left">
        <p><strong>Thoughts:</strong> <%= post.thoughts %></p>
        <p><strong>User:</strong><a href="/users/<%= post.play.user.id %>"/><%= post.play.user.username %></a></p>
        <p><strong>Session Playtime:</strong> <%= post.current_playtime %> hrs</p>
        <% #binding.pry %>
        <p><strong>Total PLaytime:</strong> <%= post.play.total_playtime %> hrs</p>
        <p><strong>Game:</strong> <a href="/games/<%= post.play.game.id %>"/><%= post.play.game.title %></a></p>
    </div>

    <div>
        <img class="post-right" src=<%= post.play.game.image_url %> alt="Italian Trulli">     
    </div>
    <% if session[:user_id] && post.play.user_id == session[:user_id]%>
    <%= button_to "Edit Post", edit_post_path(post), method: :get%>
    <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
    
<% end %>
</div>